/*td, th{
    border-bottom: 1px solid black;
    padding: 15px;
}
th{
    text-align: left;
}
.btn-supp{
    background-color: #d9534f;
    color: 	#f7f7f7;
    outline: none;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}*/