  <h1>{{ getTitle()}}</h1>
  <table class="table table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">mobile</th>
        <th scope="col">email</th>
        <th scope="col"><button class="btn btn-primary" (click)="toggleAdd()">+</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contInf of contact2">
        <th scope="row">{{contInf.id}} </th>
        <td>{{contInf.name}} </td>
        <td>{{contInf.tel}} </td>
        <td>{{contInf.email}} </td>
        <td><button type="button" class="btn btn-danger" (click)="Delete(contInf)">Delete</button></td>
        <td><button type="button" class="btn btn-success" (click)="Edit(contInf)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <form [formGroup]="MyFormGroup">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Full Name</label>
          <input type="text" formControlName="name" class="form-control" id="exampleInputName1000000">
          <div *ngIf="isError" style="color: red;">{{name}} deja existe</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPhone1" class="form-label"> Phone Number</label>
          <input type="text" formControlName="phone" class="form-control" id="exampleInputPhone1">
        </div>
      <button type="submit" class="btn btn-primary" (click)="Submit()">Submit</button>
    </form>
  </div>
  <br><br>
<div class="container">
    <form [formGroup]="userFormGroup">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control" id="exampleInputEmail100">
          </div>
          <div class="mb-3">
            <label for="exampleInputpassword" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputpassword">
          </div>
          <button class="btn btn-primary" (click)="UserAdd()">Login</button>
    </form>
</div>
